@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-400 rounded;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500;
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
